.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

.cadastro {
  padding: 2rem 0;
}

.cadastro form {
  background: #C4EDFF;

  border: none;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 2rem;
}

.cadastro form label {
  color: #154580;
  font-weight: bold;
  margin: 0 0 1rem;
}

.cadastro form .input {
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}


.cadastro form {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

input[type='radio'] {
  display: none;
}

.mensagem__erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}

.botao__desabilitado {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}
